<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moksh database website</title>
</head>
<body>
    <p>My name is {{name}}</p>
    <!-- if you want to add any variable of python write in two curly braces like {{name}} -->
    <div>
        list of companies:
        {%for company in companies%}
            {{company}}
        {%endfor%}
    </div>
    <br>
    <div>
        jobs opening:
        <br>
        {% for job in jobs %}
            <!-- {% if job['salary'] > 13000 %}
                {% include 'include.html' %}
            {% endif %} -->
            <b>Role: </b> {{job['title']}}
            <br>
            <b>location: </b> {{job['location']}}
            <br>
            <b>salary: </b> {{job['salary']}}
            <br>
            <a href="mailto:mokshrpatel2005@gmail.com?subject=To apply in {{job['company']}}" type="button">Apply</a>  

            <hr>    
        {% endfor %}
    </div>
</body>
</html>


<!-- mail to link generator link: https://mailtolink.me/
write whatever you want to add in email and add the given below generated code into href attribute -->